:root {
    /* Primary */

    --Orange: hsl(25, 97%, 53%);
    
    /* Neutral */
    
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --btnBackgroundColor: rgba(39,48,57,255);
    --cardBackgroundColor: rgba(27,34,44,255);
}

html {
font-family: 'Overpass', sans-serif;
/* font-size: 15px; */
}

body {
margin: 0;
box-sizing: border-box;
}

/* Etiquetas */

p {
    font-size: 15px;
    color: var(--MediumGrey);
}

.mainContainer {
    display: grid;
    place-content: center;

    width: 100%;
    height: 100vh;

    background-color: var(--VeryDarkBlue);
}

.cardContainer {
display: flex;
flex-direction: column;

width: 350px;
height: 340px;
padding: 30px;

background-color: var(--cardBackgroundColor);
color: var(--White);
border-radius: 20px;
}

.iconBox {
    display: grid;
    place-content: center;

    width: 45px;
    height: 45px;

    background-color: var(--btnBackgroundColor);
    border-radius: 50%;
}

.infoContainer h1 {
    /* font-size: 25px; */
    font-weight: 700;
}

/* Form */

.mainForm {
    margin-top: 15px;
}

.ratingBtnsContainer {
    display: flex;
    justify-content: space-between;
}

.ratingBtn {
    width: 50px;
    height: 50px;

    background-color: var(--btnBackgroundColor);
    color: var(--MediumGrey);
    font-weight: 700;
    border-radius: 50%;
    /* outline: none; */
    border: none;
}

.submitBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    height: 50px;
}

.submitBtn {
    width: 100%;
    height: 45px;

    background-color: var(--Orange);
    color: var(--White);
    border-radius: 20px;
    border: none;

    font-size: 15px;
    font-weight: 700;
}


/* Desktop thank you state */

.illustrationThankYouContainer {
    display: flex;
    justify-content: center;

    margin-top: 25px;
}

.ratingContainer {
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

.ratingBox {
    /* width: 160px; */
    /* height: 45px; */

    background-color: var(--btnBackgroundColor);
    border-radius: 50px;

    padding: 8px 25px;
}

.ratingBox p {
    margin: 0;

    color: var(--Orange);
}


.thanksMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}

.thanksMessageContainer p{
    margin-top: 0;
}